<div  *ngIf="loginService.userLoggedIn()">
  <div class="container">
    <header>
      <div class="imangen" style="background-image: url(../../../../assets/restaurante.avif); background-size: 10%">
        <div class="contenido">
          <div class="letra">
            <h3 class="display-4 text-white">Restaurant Winchester</h3>
          </div>
        </div>

        <nav class="navbar navbar-expand-lg navbar-light">
          <div class="container-fluid">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['producto']">Producto</a>
              </li>
            </ul>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
              aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['receta']">Receta</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['pago']">Pago</a>
                </li>
                <!--<li class="nav-item">
                  <a class="nav-link" [routerLink]="['login']">Login</a>
                </li>-->
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['pedidos']">Pedidos</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['items']">Items Extras</a>
                </li>
                <div>
                  <a *ngIf="!loginService.userLoggedIn()" [routerLink]="['login']">(Login)</a>
                  <a *ngIf="loginService.userLoggedIn()" [routerLink]="['login']" (click)="logout()">
                    {{loginService.userLogged()}} (logout)
                  </a>
                </div>

              </ul>
            </div>
          </div>
        </nav>

      </div>
    </header>
  </div>
</div>