<div class="container" style="background-color: #f6d1de">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <br>
            <div class="letra3">
                <h3>Receta</h3>
                <br>
            </div>
            <button type="submit" (click)="volverLista()" class="btn btn-success">Volver Lista</button>

            <form class="p-3" #recetaForm="ngForm">
                <div class="mb-3">
                    <label for="nombre" class="form-label" style="font-weight: bold;">Nombre</label>
                    <input type="text" class="form-control form-control-sm" placeholder="Ingrese Nombre" id="nombre"
                        [(ngModel)]="receta.nombre" name="nombre" required #nombre="ngModel">

                    <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)" class="alert alert-danger">
                        <div *ngIf="nombre.errors?.['required']">
                            Nombre es requerido.
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="costoTotal" class="form-label" style="font-weight: bold;">Costo Total</label>
                    <input type="number" class="form-control form-control-sm" placeholder="Ingrese Costo Total"
                        id="costoTotal" [(ngModel)]="receta.costoTotal" name="costoTotal" required
                        #costoTotal="ngModel">

                    <div *ngIf="costoTotal.invalid && (costoTotal.dirty || costoTotal.touched)"
                        class="alert alert-danger">
                        <div *ngIf="costoTotal.errors?.['required']">
                            Costo Total es requerido.
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="precio" class="form-label" style="font-weight: bold;">Precio</label>
                    <input type="number" class="form-control form-control-sm" placeholder="Ingrese precio" id="email"
                        [(ngModel)]="receta.precio" name="precio" required #precio="ngModel">

                    <div *ngIf="precio.invalid && (precio.dirty || precio.touched)" class="alert alert-danger">
                        <div *ngIf="precio.errors?.['required']">
                            Precio es requerido.
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="alergenos" class="form-label" style="font-weight: bold;">Alergenos</label>
                    <input type="text" class="form-control form-control-sm" placeholder="Ingrese alergenos" id="nombre"
                        [(ngModel)]="receta.alergenos" name="alergenos" required #alergenos="ngModel">
                    <!--<label><input type="checkbox" id="cbox1" value="first_checkbox"> Este es mi primer checkbox</label><br>-->
                    <div *ngIf="alergenos.invalid && (alergenos.dirty || alergenos.touched)" class="alert alert-danger">
                        <div *ngIf="alergenos.errors?.['required']">
                            Alergenos es requerido.
                        </div>
                    </div>

                </div>

                <div class="mb-3">
                    <label for="impuestos" class="form-label" style="font-weight: bold;">Impuestos</label>
                    <input type="number" class="form-control form-control-sm" placeholder="Ingrese impuestos" id="email"
                        [(ngModel)]="receta.impuestos" name="impuestos" required #impuestos="ngModel">

                    <div *ngIf="impuestos.invalid && (impuestos.dirty || impuestos.touched)" class="alert alert-danger">
                        <div *ngIf="impuestos.errors?.['required']">
                            Impuestos es requerido.
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="descripcion" class="form-label" style="font-weight: bold;">Descripcion:</label>
                    <textarea id="descripcion" type="text" class="form-control" placeholder="Ingrese Descripcion"
                        [(ngModel)]="receta.descripcion" name="descripcion" required #descripcion="ngModel"></textarea>

                    <div *ngIf="descripcion.invalid && (descripcion.dirty || descripcion.touched)"
                        class="alert alert-danger">
                        <div *ngIf="descripcion.errors?.['required']">
                            Descripcion es requerido.
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="productos" class="form-label" style="font-weight: bold;">Producto</label>
                    <select class="form-select" aria-label="Default select example" placeholder="Ingrese un Espectador"
                        [(ngModel)]="receta.productos" name="productos" required #productos="ngModel">

                        <option *ngFor="let productos of productosss" [ngValue]="productos">{{productos.nombre}}
                        </option>
                    </select>
                    <div *ngIf="productos.invalid && (productos.dirty || productos.touched)" class="alert alert-danger">
                        <div *ngIf="productos.errors?.['required']">
                            Seleccione un Productos es requerido.
                        </div>
                    </div>
                </div>

                <button *ngIf="accion=='new'" type="submit" (click)="registrar()" class="btn btn-info"
                    [disabled]="recetaForm.invalid">Registrar Receta</button>
                <button *ngIf="accion=='update'" type="submit" (click)="actualizarReceta()"
                    class="btn btn-warning">Actualizar</button>
                <button type="submit" (click)="volverLista()" class="btn btn-success">Volver Lista</button>
                <br><br>
            </form>
        </div>
    </div>
</div>