h3{
    font-style: italic;
    -webkit-text-stroke: 2px rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.imangen {
	width: 100%;
}

.row-terminado {
    background-color: #28a745; /* Color verde para el estado "Terminado" */
  }
  
  .row-en-progreso {
    background-color: #007bff; /* Color azul para el estado "En Progreso" */
  }
