<section class="imangen"
  style="background-image: url('https://png.pngtree.com/thumb_back/fh260/background/20230617/pngtree-rectangular-shelf-in-light-brown-tones-a-3d-rendered-background-perfect-image_3639918.png');">
  <br>
  <div class="container">
    <div class="row">
      <h3 class="col-12 text-center text-decoration-underline" style="font-weight: bold;">Listado De Pedidos</h3>
    </div>
    <br><br>
    <div>
      <a class="btn btn-dark" [routerLink]="['/pedidos-form']">Hacer Pedido</a>
    </div>
    <br>
    <table class="table table-striped table-hover">
      <thead class="table-dark">
        <tr>
          <th scope="col">N° Pedido</th>
          <th scope="col">Platos</th>
          <th scope="col">Nota</th>
          <th scope="col">Alergico a</th>
          <th scope="col">Estado</th>
          <th scope="col">Extras</th>
          <th scope="col">Precio Total</th>
          <th scope="col">Mesa</th>
          <th scope="col">Cliente</th>
          <th scope="col">Opciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pedido of arrayPedidos; let i = index" [class.row-en-progreso]="pedido.estado === 'En Progreso'"
          [class.row-eliminar]="pedido.estado === 'Eliminar'">
          <th scope="row">{{ i + 1 }}</th>
          <td>
            <ul>
              <li *ngFor="let receta of pedido.obReceta">{{ receta?.nombre }}</li>
            </ul>
          </td>
          <td>{{ pedido.nota }}</td>
          <td>{{ pedido.alergenos }}</td>

          <td [style.background-color]="getEstadoColor(pedido.estado)"><strong>{{ pedido.estado }}</strong></td>
          <td>
            <ul>
              <li *ngFor="let item of pedido.obItemsExtra">{{ item?.nombre }}</li>
            </ul>
          </td>
          <td>{{ pedido.total | currency:'ARS':'symbol-narrow'}}</td>
          <td>{{ pedido.mesa}}</td>
          <td>{{ pedido.nombreCliente}}</td>
          <td>
            <div class="btn-group" role="group">
              <button type="button" class="btn btn-success" (click)="cambiarEstado(pedido, 'Terminado')">
                <i class="bi bi-check"></i> Terminado
              </button>
              <button type="button" class="btn btn-primary ms-2" (click)="cambiarEstado(pedido, 'En Progreso')">
                <i class="bi bi-pencil"></i> En Progreso
              </button>
              <button type="button" class="btn btn-danger ms-2" (click)="eliminarPedido(pedido._id)">
                <i class="bi bi-trash"></i> Eliminar
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <br><br>
  </div>
</section>