
  <section class="imangen" style="background-image: url('https://png.pngtree.com/thumb_back/fh260/background/20230617/pngtree-rectangular-shelf-in-light-brown-tones-a-3d-rendered-background-perfect-image_3639918.png');">
    <br>
    <div class="container alert alert-secondary" style="background-color: rgb(247, 196, 134);">
      <div class="row">
        <div class="col-6">
          <h4 class="mb-3">Pedido</h4>
          <div class="form-group">
            <div class="form-group">
              <label for="nombreCliente">Pedido a nombre de: </label>
              <input class="form-control" type="text" name="nombreCliente" [(ngModel)]="nombreCliente" />
            </div>
            <div class="form-group">
              <label for="mesa">Mesa Numero: </label>
              <input class="form-control" type="text" name="mesa" [(ngModel)]="mesa" />
            </div>
            <label for="receta">Receta</label>
            <select class="form-control" name="receta" [(ngModel)]="recetaSeleccionada">
              <option *ngFor="let receta of todasRecetas" [ngValue]="receta">{{ receta.nombre }}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="cantidadReceta">Cantidad</label>
            <input class="form-control" type="number" name="cantidadReceta" [(ngModel)]="cantidadReceta" />
          </div>
          <button class="btn btn-dark" (click)="agregarRecetaAlPedido()">Agregar al pedido</button>
        </div>
        <div class="col-6 alert alert-succes">
          <h4 class="mb-3">Extras</h4>
          <div class="form-group">
            <label for="producto">Items</label>
            <select class="form-control" name="producto" [(ngModel)]="ItemSeleccionado">
              <option *ngFor="let producto of todosItems" [ngValue]="producto">{{ producto.nombre }}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="cantidadProducto">Cantidad</label>
            <input class="form-control" type="number" name="cantidadItem" [(ngModel)]="cantidadItem" />
          </div>
          <button class="btn btn-dark" (click)="agregarItemsPedido()">Agregar al pedido</button>
        </div>



        <div class="col">
          <!--<label><input type="checkbox" id="cbox1" value="first_checkbox"> Este es mi primer checkbox</label><br>-->
          <label for="alergenos" class="form-label" style="font-weight: bold;">Tipo de
              Alergenos</label>
          <select v-model="selected" class="form-select" aria-label="Default select example"
              id="alergenos" [(ngModel)]="alergenos" name="alergenos">

              <option value="1" disabled selected>Seleccione que alergenos requiere</option>
              <option value="Gluten">Gluten</option>
              <option value="Crustáceos">Crustáceos</option>
              <option value="Huevo">Huevo</option>
              <option value="Pescado">Pescado</option>
              <option value="Cacahuates">Cacahuates</option>
              <option value="Lacteos">Lacteos</option>
              <option value="Apio">Apio</option>
              <option value="Mostaza">Mostaza</option>
              <option value="Sulfitos">Sulfitos</option>
              <option value="Sésamo">Sésamo</option>
              <option value="Moluscos">Moluscos</option>
              <option value="Soja">Soja</option>
              <option value="Frutos Secos">Frutos Secos</option>
              <option value="Altramuz">Altramuz</option>
          </select>
      </div>





        <div class="col-12 mt-4">
          <h4 class="mb-3">Nota</h4>
          <div class="form-group">
            <label for="nota">Nota</label>
            <input class="form-control" type="text" name="nota" id="nota" [(ngModel)]="nota">
          </div>
        </div>
      </div>
      <div class="row">
        <h3 class="text-center">Detalles de Pedido</h3>
        <div class="col-12">
           
          <ul class="list-group">
            <li class="list-group-item" *ngFor="let receta of pedidoNuevo.obReceta">
              {{ receta.nombre }} - Cantidad: <input class="form-control" type="number" [(ngModel)]="receta.cantidad" />
            </li>
            <li class="list-group-item" *ngFor="let producto of pedidoNuevo.obItemsExtra">
              {{ producto.nombre }} - Cantidad: <input class="form-control" type="number" [(ngModel)]="producto.cantidad" />
            </li>
          </ul>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-12">
          <button class="btn btn-dark" (click)="setPedido()">Confirmar Pedido</button>
          <button class="btn btn-dark offset-1" (click)="listar()">Lista Pedido</button>
        </div>
      </div>
    </div>
  </section>
