<section class="imangen"
    style="background-image: url('https://png.pngtree.com/thumb_back/fh260/background/20230617/pngtree-rectangular-shelf-in-light-brown-tones-a-3d-rendered-background-perfect-image_3639918.png');">
    <div class="container">
        <br>

        <div class="row">
            <h3 class="col-12 text-center text-decoration-underline" style="font-weight: bold;">Listado De Receta</h3>
        </div>
        <br><br>
        <div>
            <button type="button" (click)="agregarReceta()" class="btn btn-dark">Agregar Receta</button>
        </div>
        <br>
        <div class="table-responsive " style="text-align:center;">
            <table class="   table-sm table table-bordered table-light table-striped">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Descripcion</th>
                        <th scope="col">Productos</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let rece of arrayRecetas">
                        <!--<th scope="row">{{ rece._id }}</th>-->
                        <td>{{rece.nombre | titlecase}}</td>
                        <td>{{rece.descripcion | titlecase}}</td>
                        <td>
                            <ul>
                                <li *ngFor="let producto of rece.obProducto">{{ producto?.nombre }}</li>
                            </ul>
                        </td>
                        <td>{{rece.precio | currency:'ARS':'symbol-narrow'}}</td>
                        <td>
                            <!--<button class="btn btn-warning" (click)="modificarReceta(rece)">Modificar</button>-->
                            <button class="btn btn-danger" (click)="eliminarReceta(rece)">Eliminar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br><br>
    </div>
</section>