<div class="imangen"
    style="background-image: url('https://png.pngtree.com/thumb_back/fh260/background/20230617/pngtree-rectangular-shelf-in-light-brown-tones-a-3d-rendered-background-perfect-image_3639918.png');    ">
    <br>
    <div class="container">
        <div class="row">
            <h3 class="col-12 text-center text-decoration-underline" style="font-weight: bold;">Listado De Items Extras
            </h3>
        </div>
        <br><br>
        <div>
        <button type="button" (click)="agregarItems()" class="btn btn-dark">Agregar Items</button>
        </div>
        <br>
        <div class="table-responsive">
            <table class="table-sm table table-bordered table table-striped">
                <thead class="table-dark" >
                    <tr class="text-center">
                        <th scope="col">Nombre</th>
                        <th scope="col">Categoria</th>
                        <th scope="col">Descripcion</th>
                        <th scope="col">Proveedor</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Stock</th>
                        <th scope="col">Opciones</th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    <tr *ngFor="let item of itemsss">
                        <td>{{item.nombre | titlecase}}</td>
                        <td>{{item.categoria | titlecase}}</td>
                        <td>{{item.descripcion | titlecase}}</td>
                        <td>{{item.proveedor | titlecase}}</td>
                        <td>{{item.precio | currency:'ARS':'symbol-narrow'}}</td>
                        <td>{{item.stock}} Unidad </td>
                        <td>
                            <button class="btn btn-warning" (click)="modificarItem(item)">Modificar</button>
                            <button class="btn btn-danger" (click)="eliminarItem(item)">Eliminar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        
        <br><br>
    </div>
</div>